{% extends "base.html" %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3 class="mb-2 text-white">Sobre mí</h3>
            <p>Hola! Soy <b>José Miguel Cordero</b>, estudiante de ingeniería en computación del
                <a class="pinky" href="https://www.dcc.uchile.cl/">DCC</a>. Por aquí subo principalmente fotos.</p>
            <i class="far fa-envelope mr-1"></i>
            <a href="#" class="cryptedmail pinky"
               data-name="jcordero"
               data-domain="dcc.uchile"
               data-tld="cl"
               onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"></a>
        </div>
    </div>
</div>
{% endblock %}